@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto Condensed", sans-serif;
}
.contenedor{
    display:flex;
    flex-direction: row  ;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    font-size: 85px;
    color:white;
    height: 500px;
    background-color: rgba(0,0,0,0.5);

}
.caja1{
    flex-basis:350px;
    order:1;
    flex-shrink: 2;
    background-color: rgb(204, 177, 232);
    flex-grow: 1;

}
.caja2{
    flex-basis:350px;
    flex-grow: 1;
    flex-shrink: 2;
    background-color: palevioletred;
}
.caja3{
    flex-basis:350px;
    flex-grow: 3;
    flex-shrink: 1;
    background-color: rgb(36, 196, 249);
}
.caja4{
    flex-basis:350px;
    flex-grow: 1;
    flex-shrink: 2;
    background-color: rgb(124, 207, 0);
}
.caja5{
    flex-basis:350px;
    flex-grow: 1;
    flex-shrink: 2;
    background-color: rgb(254, 169, 9);
}
.caja6{
    flex-basis: 350px;
    flex-grow: 3;
    flex-shrink: 1;
    background-color: blue;
}