@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto Condensed", sans-serif;
    color:grey;
}
body{
    display: flex;
    flex-direction: row  ;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;

}
header,footer{
    background-color:red;
    margin:1rem;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height:10%;
}
main{
    
    display: flex;
    flex-direction: row  ;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    flex-basis: 100%;
    flex-grow:4;
    flex-shrink: 0;

}
aside{
    background-color: gold;
    flex-basis: 20%;
    height:80%;
    flex-grow: 1;
    flex-shrink: 1;
}
.centro{
    flex-basis: 60%;
    flex-grow: 3;
    flex-shrink: 0;
    height:80%;
    background-color:blueviolet;
}   